nav {
  background-color: blue;
  overflow: hidden;
  width: 100%;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

/* Right Sidebar */
aside {
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: block;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}
